<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoring Suhu dan Kelembapan</title>
    <style>
        html {
            background-color: rgb(63, 63, 63); 
            color: white;
        }
        body {  
            text-align: center;
            margin: 0;
            position: absolute;
            top: 20vh; 
            left: 50vh;
        }
        span {
            font-size: large;
            font-weight: bolder;
        }
        table {
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>Monitoring Suhu dan Kelembapan</h1>
    <p>Suhu: <span id="temperature">--</span> °C</p>
    <p>Kelembapan: <span id="humidity">--</span> %</p>
    <p>Update Terakhir: <span id="time">--</span></p>

    <h2>Riwayat Data</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Suhu (°C)</th>
                <th>Kelembapan (%)</th>
                <th>Waktu</th>
            </tr>
        </thead>
        <tbody id="history-table">
            <!-- Data akan diisi dengan JavaScript -->
        </tbody>
    </table>

    <script>
        async function fetchSensorData() {
            console.log('Ambil data ke server...');
            try {
                const response = await fetch('/sensor');
                console.log(response);
                const data = await response.json();
                console.log(data);
                document.getElementById('temperature').textContent = data.temperature || '--';
                document.getElementById('humidity').textContent = data.humidity || '--';
                document.getElementById('time').textContent = data.current_time || '--';

            }catch(e){
                console.log(e);
            }
        }
      
        // Fungsi untuk mengambil riwayat data
        async function fetchSensorHistory() {
            const response = await fetch('/history');
            const history = await response.json();
            const historyTable = document.getElementById('history-table');

            // Hapus konten tabel sebelumnya
            historyTable.innerHTML = '';

            // Tambahkan data baru ke tabel
            history.forEach(item => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${item.id}</td>
                    <td>${item.temperature}</td>
                    <td>${item.humidity}</td>
                    <td>${item.timestamp}</td>
                `;
                historyTable.appendChild(row);
            });
        }

        fetchSensorData()
        fetchSensorHistory()
        setInterval(fetchSensorData, 2000);
    </script>
</body>
</html>